@import "../../breakpoints.scss";
.Products {
  display: grid;
  grid-area: main;
  grid-template-areas:
    "searchfilter"
    "listing";
  grid-template-rows: 200px auto;
  column-gap: $col-gutter;
}
@media screen and (min-width: $break-md) {
  .Products {
    grid-template-areas:
      "searchfilter listing"
      "searchfilter listing";
    grid-template-columns: 200px 1fr;
    overflow: scroll;
    margin-top: -200px;
  }
  .SearchFilter {
    margin-top: 200px;
  }
}
@media screen and (min-width: 725px) {
}
@import "Card/Card.scss";
@import "Listing/Listing.scss";
@import "SearchFilter/SearchFilter.scss";
