$col-width: 200px;
$col-gutter: 15px;
$row-gutter: 15px;
$break-xs: $col-width;
$break-sm: $break-xs + $col-width + $col-gutter;
$break-md: $break-sm + $col-width + $col-gutter;
$break-lg: $break-md + $col-width + $col-gutter;
$break-xl: $break-lg + $col-width + $col-gutter;
$break-xxl: $break-xl + $col-width + $col-gutter;
